.main-header {
  background-color: #ffffff;
  border-bottom: 4px solid #923f68;
}


.main-footer {
    width: 100%;
    padding: 50px 0;
    margin-top: 40px;
    text-align: center;
    
    
    border-top: 1px solid #d3abc6;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    
    color: #1d1d1d;
    background-color: #dfdddd;
    overflow: hidden;
}